.NavBar{
    background-color: gainsboro;
}

#WelcomeSection{
    background-color: rgb(234, 232, 232);
    height: 50vh;
    width: 85%; 
    margin: auto; 
    margin-top: 25px; 
    padding-top: 140px; 
    padding-left: 55px; 
    border-radius: 4px;
}

.Button{
    background-color: rgb(59, 59, 204);
    color: white;
    border-radius: 5px;
    
}

hr {
    border: 1px solid #333; /* Set the border color */
    margin: 20px 0; /* Add some margin for spacing */
}

section {
    margin-left: -20px;
} 

.SideBar{
    margin-left: 20px;
}